<!DOCTYPE html>
<html lang="en" ng-app="inventory-app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Category</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body ng-controller="ctrl-items">
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Home Inventory</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="category.html">Category</a></li>
                    <li class="nav-item"><a class="nav-link" href="items.html">Items</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page content-->
    <div class="container">
        <div class="mt-5">
            <h1>Manage Item</h1>
            <div class="row mt-4">
                <div class="col-md-12">
                    <select ng-model="item.CatName" class="form-control form-select">
                        <option value="">-- Select Category --</option>
                        <option ng-repeat="cat in Categories" value="{{cat.Name}}">{{cat.Name}}</option>
                    </select>
                </div>

                <div class="col-md-12">
                    <label for="itemName">Name</label>
                    <input class="form-control" name="itemName" ng-model="item.Name" placeholder="Enter Item name..." />
                </div>

                <div class="col-md-12">
                    <label for="itemQuantity">Quantity</label>
                    
                    <div class="input-group mb-3">
                        <button class="btn btn-primary" ng-click="changeQuantity('-')">-</button>
                        <input type="number" class="form-control" name="itemQuantity" ng-model="item.Quantity" />
                        <button class="btn btn-primary" ng-click="changeQuantity('+')">+</button>
                    </div>

                    <button class="btn btn-primary mt-2" ng-click="add_item()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Angular JS -->
    <script src="js/angular.min.js"></script>

    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

</body>
</html>
